{% extends 'base.html' %}

{% block body %}

<div id="splash-screen" >
    <div id="splash_image">
            <img class="splash_img" src="static\Images\splash_image.png" alt="icon">
    </div>
    <div id="heat_map">
        <img class="heat_map" src="static\Images\heat_map.png" alt="icon">
        <div class="diagonal_line"></div>
    </div>
</div>

 <div id="main-content">
    <div class="board_div">
        <a href="/login_page"><button class="board">Leaderboard</button></a>
        <p class="board_line">On the basis of recent submissions on different Competitive Platforms. </p>
    </div>

    {% comment %} {{students}} {% endcomment %} 
    {% comment %} https://docs.djangoproject.com/en/4.2/ref/templates/builtins/ {% endcomment %}


    <div class="main_page_sections">
        <div class="Platform_Section">
            <h3 class="sec_desc"> Rankers on different Competitive Platforms </h3>
            <div class="section Platform"> 
                <a href="/login_page">
                <div class="your_section_icon Platform_1">
                    <div class="your_section_icon_heading">
                        <img class="lib_icon" src="static\Images\Favicon.avif" alt="icon">
                    </div>
                    <img class="Platform_img" src="static\Images\Platforms\Codechef.png" alt="">
                    <p class="Platform_disc "> username : rating </p>
                    <p class="Platform_disc "> {{first_member_codechef}} </p>
                </div>
                </a>
                <a href="/login_page">
                <div class="your_section_icon Platform_1">
                    <div class="your_section_icon_heading">
                        <img class="lib_icon" src="static\Images\Favicon.avif" alt="icon">
                    </div>
                    <img class="Platform_img" src="static\Images\Platforms\Codeforces.png" alt="">
                    <p class="Platform_disc "> username : rating </p>
                    <p class="Platform_disc "> {{first_member_codeforces}} </p>
                </div>
                </a>
                <a href="/login_page">
                <div class="your_section_icon Platform_1">
                    <div class="your_section_icon_heading">
                        <img class="lib_icon" src="static\Images\Favicon.avif" alt="icon">
                    </div>
                    <img class="Platform_img" src="static\Images\Platforms\Leetcode.png" alt="">
                    <p class="Platform_disc "> username : ranking </p>
                    <p class="Platform_disc "> {{first_member_leetcode}} </p>
                </div>
                </a>
            </div>
        </div>
    </div>

    <div class="board_div">
        <p class="board_line">For members - to add their informations </p>
        <a href="/member_form"><button class="board"> Form </button></a>
    </div>
</div>

{% endblock body %}
